*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffffc4;
}
body{
    background-color: rgb(19, 77, 87);
}
.img-1{
    display: flex;
    
}
.caja-1{

}
.lista-1{
    
}